<header>
    <nav class="navbar navbar-nav navbar-brand navbar-expand-md navbar-dark bg-info navbar-toggler">
        <ul class="navbar-nav">
            <li><a routerLink='' class="nav-link">University List</a></li>
            <!-- <li><a routerLink='/view/official-info/7' class="nav-link">Visit University</a></li> -->
            <li><a routerLink='/register/official-info' class="nav-link">Register University</a></li>
            <li><a routerLink='/register/faculty-info' class="nav-link">Register Faculty</a></li>
        </ul>

        <!-- <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf='!hardcodeAuthenticationService.isUserLoggedIn()' routerLink='/login' class="nav-link">Login</a></li>
            <li><a *ngIf='hardcodeAuthenticationService.isUserLoggedIn()' routerLink='/logout' class="nav-link">Logout</a></li>
        </ul> -->
    </nav>
</header>